h1{
color: red
}
.navblu{
background: #87CEFA
}
/* a{
height: 20px
} */
body{
background: rgba(255,228,196)
}

.nav-item > a {
    border-radius: 5px;
    
height: 28px;
margin: 0 auto;
/* line-height: 0.5px; */
}

.mark1{
    border: 4px solid purple;
}
#slidecontainer > a{ width: 50%;
}